@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/icons/css/all.min.css");
@layer base {
  :root {
    --font-primary: "Segoe UI Historic";

    --color-primary: 107 164 233;
    --color-primary-bold: 61 112 178;
    --text-color-bold: 57 58 79;
    --text-color: 117 122 145;

    /* theme dark */
    /* --dark-color-bold: rgb(21, 26, 35);
    --dark-color-semi-bold: rgb(26, 33, 44);
    --dark-color-regular: rgb(32, 40, 54);
    --dark-color-light: rgb(40, 49, 67);
    --dark-color-very-light: rgb(47, 59, 80);
    --dark-color-text-bold: rgb(255, 255, 255);
    --dark-color-text-regular: rgb(162, 165, 185);
    --dark-color-text-light: rgb(117, 122, 145);
    --dark-color-border: rgb(59, 73, 99); */
    --dark-color-placeholder: rgb(78, 97, 131);
  }
  @font-face {
    font-family: "Segoe UI Historic";
    src: url("./assets/fonts/Segoe-ui-regular.ttf");
    font-weight: 400;
  }
  input {
    caret-color: rgb(var(--color-primary-bold));
  }
  @font-face {
    font-family: "Segoe UI Historic";
    src: url("./assets/fonts/Segoe-ui-semilight.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Segoe UI Historic";
    src: url("./assets/fonts/Segoe-ui-semibold.ttf");
    font-weight: 600;
  }

  html {
    font-family: var(--font-primary), system-ui, sans-serif;
    line-height: 1.3333;
  }

  ::-ms-reveal {
    color: var(--color-primary);
    background-color: var(--color-primary);
  }

  html *::-webkit-scrollbar {
    transition: all 1s linear;
    border-radius: 0;
    width: 8px;
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(107, 164, 233, 0.7);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .scrollAble {
    overflow-y: overlay;
  }

  .scrollAble.occupy {
    overflow-y: scroll;
  }

  .scrollAble::-webkit-scrollbar-thumb {
    background-color: transparent;
    opacity: 0;
  }

  .scrollAble:hover::-webkit-scrollbar-thumb {
    transition: all 1s linear;
    opacity: 1;
    background-color: rgba(107, 164, 233, 0.7);
  }

  .isLiked {
    @apply bg-red-600 shadow-primary/50;
  }

  .bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncyAnimate 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @keyframes bouncyAnimate {
    0%,
    100% {
      transform: scale(1, 1);
    }

    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  .button {
    @apply cursor-pointer rounded-lg px-4 py-4 tracking-wide bg-slate-200  flex justify-center;
  }

  .button.shadow {
    @apply shadow-md;
  }

  .button.circle {
    @apply p-0 relative w-10 h-10 bg-dark-very-light shadow-primary/50 rounded-full flex justify-center items-center;
  }

  .button.circle.small {
    @apply w-5 h-5 text-[8px];
  }

  .button.circle.medium {
    @apply w-8 h-8 text-[12px];
  }

  .comment-line {
    @apply dark:bg-dark-very-light;
  }

  .button.primary {
    @apply bg-blue-500 hover:enabled:bg-blue-600  text-white;
  }

  .button.small {
    @apply py-2;
  }
  .button.large {
    @apply max-h-[55.33px] text-[18px];
  }

  .hover-brightness {
    @apply hover:dark:bg-primary/20 hover:dark:text-dark-text-bold transition-all;
  }

  .tooltip.bottom {
    @apply top-full origin-top;
  }

  .tooltip.top {
    @apply bottom-full origin-bottom;
  }

  .tooltip .arrow {
    @apply absolute  left-1/2 -translate-x-1/2 border-t-4 border-l-4 border-r-4 border-b-4 border-transparent;
  }

  .arrow.top {
    @apply top-full border-t-slate-400/50;
  }

  .arrow.bottom {
    @apply bottom-full border-b-slate-400/50;
  }

  .active .chat-item {
    @apply bg-red-100;
  }
}

.max-height {
  max-height: min((100vh - 96px) - 60px, 734px);
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
